<h5>About these guidelines</h5>

<p>
  This text was created with contributions from Deaf people engaged in the practice of social justice in an attempt to reduce audism, phonocentrism, and shift the balance of power and privilege within the Deaf community.
  This is a living document that intends to address the underlying principles of hearing allyship -- to that end, we welcome contributions and input based on what is currently relevant.
  The site is <a target="_blank" href="https://github.com/thornomad/hearing-allyship/issue">hosted at Github</a> in an attempt to make the text freely available to the community and to engage in conversation that moves all of us forward.
</p>

<p>
<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Guiding Principles for Hearing Allyship</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="hearingallyship.org" property="cc:attributionName" rel="cc:attributionURL">hearingallyship.org</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
</p>
